

/* ADMINI PAGE */
body {
	font-family: 'futura-pt', Helvetica, Arial, Tahoma;
	font-size:14pt;
	color:rgb(125,125,125);
}

input[type='button'] {
	-webkit-appearance: button;
	font-size:12pt;
}

#title {
	width:100%;
	display: inline-block;
	height:47px;
	font-family: ;'futura-pt','Source Sans Pro', Helvetica;
	color:rgb(110,110,110);
	font-size:28pt;
	margin-bottom:10px;
	text-align: center;

        background: rgb(235,235,235) url("../visual/twitter-flag.png") no-repeat;
        background-position: left center;
}

#intro {
	margin-top:20px;
	margin-left:10px;
	margin-bottom:30px;
	color:steelblue;
	font-size:12pt;
	width:1000px;
	display:block;
}

#container {
	width:100%;
	margin:auto;
}
#ask-box {

	float:left;
	width:420px;
	height:500px;
}
#receive-box {

	float:left;
	width:550px;
	height:500px;
}
#clear {
    clear: both;
}

#default-settings-container {
	display:inline-block;
	width:inherit;
}

	#default-settings {
		margin-top:5px;
		margin-left:30px;
		font-family: consolas, sans serif;
	}

		.default {
			color:rgba(128,0,0,.6);
		}

#update-settings-container {
	display:none;
}
#update-settings {
	display:inline-block;
	width:350px;	
	margin-top:10px;
	margin-left:20px;
	padding:5px;
	border:1px solid steelblue;
}


	#bake-report {
		width:inherit;
		display:block;
		height:90px;
		font-family:consolas;
		padding:5px;
		border: solid 2px rgba(128,0,0,0.5);
		overflow:scroll;
	}

	#terminate-report {
		width:inherit;
		display:block;
		height:70px;
		font-family:consolas;
		padding:5px;
		border: solid 2px rgba(130,130,130,0.5);
	}



