input {
	-webkit-appearance: button;
	font-size:14pt;
}

#tweet {
	width:500px;
	display:block;
	height:300px;
	font-family:consolas;
	border: solid 2px steelblue;
	background-color: lightgray;
	overflow: scroll;
}

#bake-report {
	width:500px;
	display:block;
	height:200px;
	font-family:consolas;
	border: solid 2px red;
	overflow:scroll;
}

#terminate-report {
	width:500px;
	display:block;
	height:40px;
	font-family:consolas;
	border: solid 2px gray;
}