<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>[ADMIN] Gauging Debate</title>

	<!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- UNDERSCORE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
    <!-- D3 -->
	<script src="http://d3js.org/d3.v3.min.js"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/admini.css') }}">

  </head>

  <body>
    
    <div id="intro">
    Here you can start an AWS cluster for tweet tracking on GaugingDebate.com.<br />
    If you want to use the default settings (see below), just click "Bake a new cluster".<br />
    Otherwise, select "Change Settings", make adjustments, and then click "Bake a new cluster". 
    <br /><br />
    You will see regular updates (every 30s) in the red box, informing you of the cluster status. <br />
    When the cluster is up and running, tweets will display in the blue box under 'Get tweets'. <br />
    At that point, return to the <a href="http://gaugingdebate.com">main page</a> to interact with 
    the streaming output. 
    </div>

    <div id="default-settings-container">
    Default settings: <br />
        <div id="default-settings">
            Master type: <span id="default-master-type">c3.xlarge</span> <br />
            Core type: <span id="default-core-type">m1.medium</span> <br />
            Pricing: <span id="default-pricing-type">spot pricing</span> <br />
            Tweet stream will stay open for <span id="default-duration"></span> minutes. <br />
        </div>
        <input type="checkbox" id="change-defaults" /> Change settings
    </div>

        <div id="update-settings">

            Tweet stream stays open for: <select id="stream-duration"></select> 
            <br />

            Master instance type: <select id="master-type"></select> <br />
            Master spot pricing or on-demand? 
                <input type="radio" name="master-pricing" value="spot" checked>Spot Pricing
                <input type="radio" name="master-pricing" value="demand" disabled>On-Demand
            <br />
            
            Core instance type: <select id="core-type"></select><br />
            Core spot pricing or on-demand? 
                <input type="radio" name="core-pricing" value="spot" checked>Spot Pricing
                <input type="radio" name="core-pricing" value="demand" disabled>On-Demand
        </div>

    <br />

    <input type="button" id="bake" value="Bake a new cluster"> <br /><br />


    or...to check up on something already baking, enter cluster ID: 
      <input id="cid" type="text" size="20"> 
      <input type="button" id="already-baking-check" value="Check on this cluster">
    <br /><br />
    <div id="bake-report"></div>
    <br /><br />
    <input type="button" id="terminate" value="Terminate current cluster">
    <br />
    or...to terminate a different cluster, enter cluster ID: 
    <input id="terminate-cid" type="text" size="20"> 
    <input type="button" id="terminate-other" value="Terminate this cluster">
    <br />
    <div id="terminate-report"></div>
    
    <br /><br />

    Streaming tweets will show up here when cluster is done baking.
    <div id="tweet"></div>
    <br /><br />
    Sentiment Output (experimental) - This may or may not do something.
    <div id="sentiment"></div>
    
    <script src="{{ url_for('static', filename = 'js/admini.js') }}"></script>
  </body>
</html>
