<!-- EXPERIMENTAL TRACKER -->

<!-- 2a. ONLY IF track sentiment for Custom topic -->
            2a. Choose topic and search terms <br />
                What is the topic you want to track? <input type='text' size='20'> <br />
                Enter the search terms you want associated with this topic: <br />
                    <input type="text" size="20"> <a class="add-topic">+</a>
                <input type="button" id="terms-enter" value="Enter" />

                To add more search terms, click the + button <br />