<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Gauging Debate - Real-time Sentiment Analysis of 2016 Presidential Debates</title>

	<!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- JQUERY PLUGIN Final Countdown (clock) -->
    <script src="http://andrewgarrettreece.com/nolink/jquery_plugins/jquery.countdown.min.js"></script>
	<!--JQUERY UI-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <!-- D3 -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">

    <!-- RICKSHAW -->
    <script src="{{ url_for('static', filename = 'js/rickshaw.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/rickshaw.min.css') }}">

    <!--OBOE
        <script src="{{ url_for('static', filename = 'js/oboe-browser.min.js') }}"></script>
    -->

  <!-- COLOR BREWER -->
  <!--<script src="{{ url_for('static', filename = 'js/colorbrewer.js') }}"></script>-->

  </head>

  <body>
  <div id="container-top">
    <div id="title">Gauging Debate: Tracking Sentiment for 2016 Elections</div>
    
    <div id="intro">
        
        Main: Track real-time Twitter sentiment on Twitter, or review past debates<br />
        Experimental: Track sentiment for any topic of your choosing<br />
        
    </div>

    <div id="next-debate-info">
        The next presidential debate features <div id="debate-party"></div> candidates. <br />
        It airs on <div id="debate-date"></div>, at <div id="debate-time"></div>. <br />
        <div id="next-debate-when"></div>
    </div>

    <div id="tracker-options">

    <div id="step1">
        1. Tracking options:
        <input type="radio" name="timeframe" value="now" >Live Tracking 
        <input type="radio" name="timeframe" value="past">Previous Debate<br />
    </div>
    
    <div id="step2">
        <div id="step2-body"></div>
    </div>
  </div>

  <div id="sentiment-tracker">
  </div>
<!--<input type="button" value="test oboe" id="test-oboe" />Test oboe-->
<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
        <div id="legend"></div>
</div>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body>
</html>
