<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Gauging Debate - Real-time Sentiment Analysis of 2016 Presidential Debates</title>

	<!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- JQUERY PLUGIN Final Countdown (clock) -->
    <script src="http://andrewgarrettreece.com/nolink/jquery_plugins/jquery.countdown.min.js"></script>

    <!-- PLOT.LY -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!--OBOE-->
    <script src="{{ url_for('static', filename = 'js/oboe-browser.min.js') }}"></script>
    
    <!-- SPINNER -->
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
  </head>

  <body>
    <div id="title">Gauging Debate: Tracking Sentiment for 2016 Elections</div>
    
  <div id="container-intro">

    <div id="next-debate-info">
        The next presidential debate features <div id="debate-party"></div> candidates. <br />
        It airs on <div id="debate-date"></div>, at <div id="debate-time"></div>. <br />
        <div id="next-debate-when"></div>
    </div>

    <div id="steps">

        <div id="step1">
            1. Tracking options:
            <input type="radio" name="timeframe" value="now" >
                <span class="timeframe-text">Live Tracking</span>
            <input type="radio" name="timeframe" value="past">
                <span class="timeframe-text">Previous Debate</span>
        </div>

        <br />

        <div id="step2">
            <div id="step2-body"></div>
        </div>

    </div>
  </div>

    <!-- Loading/spinner div (summoned from landing.js on query/pageload) -->
    <div id="loading"> Loading... </div>

    <!--<input type="button" value="test oboe" id="test-oboe" />Test oboe-->

    <div id="container-chart">
        <div id="chart"></div>
    </div>
    <div id="container-controls">
        <div id="chart-controls">
            <input type="checkbox" id="error-bar-toggle" checked> Show error bars 
            <br />
            <a href='#' id='start-over'>Go back to startup options</a>.
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body>
</html>
