<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Gauging Debate - Real-time Sentiment Analysis of 2016 Presidential Debates</title>

	<!-- JQUERY -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!--JQUERY UI-->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

    <!-- D3 -->
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">


  <!-- COLOR BREWER -->
  <!--<script src="{{ url_for('static', filename = 'js/colorbrewer.js') }}"></script>-->

  </head>

  <body>
    <input type="button" id="bake" value="Bake a new cluster">
    <br /><br />
    or...to check up on something already baking, enter cluster ID: 
      <input id="cid" type="text" size="20"> 
      <input type="button" id="already-baking-check" value="Check on this cluster">
    <br /><br />
    <div id="bake-report"></div>
    <br /><br />
    <div id="content"><input type="button" id="pull" value="Get Tweets"></div>
    <br />
    <div id="tweet"></div>
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
  </body>
</html>
